**/obj
Findd.Api.Busi/bin/
Findd.Api.Busi/obj/
Findd.Api.Interface/bin/
Findd.Api.Interface/obj/
Findd.Api.Tests/bin/
Findd.Api.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Findd.Api.Tests/obj/
Findd.Api/bin/
Findd.Api/obj/
Findd.Models/bin/
Findd.Models/obj/
Findd.Mongo.Repository/bin/
Findd.Mongo.Repository/obj/
Connector/bin/
Connector/obj/
packages/
.vs/config/applicationhost.config
.vs/Findd.Api/v14/.suo
Findd.Api.v11.suo
Findd.DataImport/bin/
Findd.DataImport/obj/
Findd.Api/logs/
Findd.Deploy/bin/
Findd.Deploy/obj/
Connector/Findd.Connector.csproj.user
Findd.DataImport/Findd.DataImport.csproj.user
Findd.Deploy/Findd.Deploy.csproj.user
Findd.Face/bin/
Findd.Face/obj/
Findd.Service/bin/
Findd.Service/obj/
Findd.PayrollExports/obj/
Findd.PayrollExports/bin/
.vs/Findd.Api/v15/.suo
.vs/Findd.Api/v15/Server/sqlite3/storage.ide-wal
.vs/Findd.Api/v15/Server/sqlite3/storage.ide-shm
.vs/Findd.Api/v15/Server/sqlite3/storage.ide
.vs/Findd.Api/v15/Server/sqlite3/db.lock
.vs/Findd.Api/DesignTimeBuild/.dtbcache
Findd.Api/roslyn/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
Findd.SSO/Findd.SSO.csproj.user
PDFHandler.Latest.rar
.vs/
